<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS configuration for the SAW (and any other IIS) deployment of meridian-os.
  Cloudflare Pages ignores this file. IIS reads it to:
    - Serve index.html as the default document
    - Refuse to serve the .git directory exposed by `git clone`
    - Register MIME types that some older IIS installs miss for SVG / WOFF2 / JSON
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
